# Dependency-specific files
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.suo
.vs/
*.sln.dotsettings

# Local settings files to keep connection strings and other secrets out of source control
**/appsettings.Development.json
**/secrets.json
**/appsettings.json
# Rider / ReSharper
.idea/
*.sln.DotSettings.user

# Mac
.DS_Store
